.path-button-container{
    position: fixed;
    top: 0;
    right: 0;
    padding: calc(3vw - 15px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.button-area{
    border-radius: 50%;
    padding: 15px;
    
}

.path-button{
    height: 40px;
    aspect-ratio: 1;
    border-radius: 50%;
    background: var(--light-background-color);
    border: 1px solid var(--dark-background-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

svg{
    width: 15px;
}
