.menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 500px;
    z-index: 10;
    pointer-events: none;
    backdrop-filter: blur(0);
    background: transparent;
    transition:
        backdrop-filter var(--animation-long-duration),
        background var(--animation-long-duration);

    >.tile-container {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        z-index: -1;

        >.tile {
            height: 100vh;
            width: calc(100% / 4);
            background: #fff;
            transition: transform var(--animation-long-duration) var(--animation-easing);
            transform: translateY(150%);

            @media screen and (max-width: 650px) {
                &:nth-child(4) {
                    display: none;
                }

                & {
                    width: calc(100% / 3);
                }
            }
        }
    }

    >.content {
        z-index: 1;

        .upper-content {
            width: 100%;
            height: 60vh;
            display: flex;
            align-items: end;
            justify-content: center;

            >.navigation-link-wrapper {
                display: flex;
                gap: 5vw;

                .navigation-link-container {
                    overflow: hidden;

                    & a {
                        display: block;
                        line-height: 0.9;
                        transition: transform var(--animation-long-duration) var(--animation-easing);
                        transform: translateY(-100%);
                    }
                }
            }

            @media screen and (max-width: 600px) {
                & {
                    height: 70vh;

                    >.navigation-link-wrapper {
                        gap: 3vw;
                        flex-direction: column;
                        align-items: center;
                        --big-text-size: clamp(100px, 8vw, 100vw);
                    }
                }
            }
        }

        .lower-content {
            display: flex;
            align-items: end;
            justify-content: space-between;
            height: 40vh;
            width: 100vw;
            padding: 30px;

            >.infos-list {
                display: flex;
                gap: 20px;

                >.list-item {
                    height: var(--small-text-size);
                    overflow: hidden;

                    >* {
                        display: block;
                        transform: translateY(100%);
                        transition: transform var(--animation-long-duration) var(--animation-easing);
                        transition-delay: var(--animation-long-duration);
                    }
                }
            }

            @media screen and (max-width: 960px) {
                >.infos-list {
                    gap: 10px;
                }
            }

            @media screen and (max-width: 900px) {
                &{
                    padding: 20px;
                }

                >.infos-list:nth-child(1),
                .infos-list:nth-child(2) {
                    position: absolute;
                    width: calc(100% - 40px);
                    justify-content: space-between;
                }

                >.infos-list:nth-child(2) {
                    top: 30px;
                }

                >.infos-list:nth-child(1) {
                    bottom: 30px;
                }
            }
        }
    }

    &.opened {
        pointer-events: all;
        background: #00000049;
        backdrop-filter: blur(5px);

        >.tile-container .tile {
            transform: translateY(0);
        }

        >.content .navigation-link-wrapper .navigation-link-container a {
            transform: translateY(0);
            transition-delay: var(--delay);
        }

        >.content .lower-content .infos-list .list-item * {
            transform: translateY(0);
        }
    }

    &.closed {
        >.content .navigation-link-wrapper .navigation-link-container a {
            transform: translateY(200%);
            transition-delay: 0s;
        }

        >.content .lower-content .infos-list .list-item * {
            transform: translateY(100%);
            transition-delay: 0s;
        }
    }
}

.menu-btn {
    position: fixed;
    left: 50%;
    padding: 5px;
    transform: translateX(-50%);
    bottom: clamp(22vh, 20vw, 100vw);
    height: var(--small-text-size);
    mix-blend-mode: difference;
    color: #fff;
    background: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    transition:
        transform var(--animation-short-duration) var(--animation-easing),
        bottom var(--animation-long-duration) var(--animation-easing);
    z-index: 11;

    >.bracket {
        transition: margin var(--animation-short-duration) var(--animation-easing);
    }

    &.opened {
        bottom: clamp(22vh, 15vw, 100vw);
    }

    &:hover .bracket.left-bracket,
    &.opened .bracket.left-bracket {
        margin-right: 4px;
    }

    &:hover .bracket.right-bracket,
    &.opened .bracket.right-bracket {
        margin-left: 4px;
    }

}

.text-slider {
    display: flex;
    justify-content: start;
    flex-direction: column;
    height: var(--small-text-size);
    line-height: var(--small-text-size);
    transition: transform var(--animation-short-duration) var(--animation-easing);

    & span {
        transition: transform var(--animation-short-duration) var(--animation-easing);
    }
}

.menu-btn:hover>.text-slider,
.menu-btn.opened>.text-slider {
    transform: translateY(-100%);
}

.menu-btn.opened .text-slider .text-slider span {
    transform: translateY(-100%);
}