.menu-container {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    min-height: 600px;
    z-index: 10;
    pointer-events: none;
    backdrop-filter: blur(0);
    opacity: 0;
    background: transparent;
    transition:
        backdrop-filter var(--animation-long-duration),
        background var(--animation-long-duration);
}

.menu-container>.tile-container {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1;
}

.menu-container>.tile-container>.tile {
    height: 100vh;
    width: calc(100% / 4);
    background: #fff;
    transform: translateY(150%);
    transition: transform var(--animation-long-duration) var(--animation-easing);
}

@media screen and (max-width: 650px) {

    .menu-container>.tile-container>.tile:nth-child(3),
    .menu-container>.tile-container>.tile:nth-child(4) {
        display: none;
    }

    .menu-container>.tile-container>.tile {
        width: calc(100% / 2);
    }
}

.menu-container>.content {
    z-index: 1;
}

.menu-container .upper-content {
    width: 100%;
    height: 100vh;
    min-height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-container .navigation-link-wrapper {
    display: flex;
    width: 100%;
}

.menu-container .navigation-link-container {
    width: calc(100% / 4);
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.menu-container .navigation-link-container a {
    display: block;
    line-height: 0.9;
    transform: translateY(100%);
}

.menu-container .lower-content {
    position: absolute;
    bottom: 0;
    display: flex;
    align-items: end;
    justify-content: space-between;
    width: 100vw;
    padding: 30px;
}

.menu-container .lower-content .infos-list {
    display: flex;
    gap: 20px;
    overflow: hidden;
}

.menu-container .lower-content .list-item {
    height: var(--small-text-size);
    overflow: hidden;
    transform: translateY(100%);
    transition: transform var(--animation-long-duration) var(--animation-easing);
    transition-delay: calc(var(--animation-long-duration) - 800ms);
}

/* ---------------- MENU STATU STYLESHEET ---------------- */

.menu-container.opened {
    pointer-events: all;
    background: #00000049;
    backdrop-filter: blur(5px);
    opacity: 1;
}

.menu-container.closed {
    transition: opacity 0s ease var(--animation-long-duration);
}

.menu-container.opened>.tile-container .tile {
    transform: translateY(0) rotate(0);
}

.menu-container.opened .navigation-link-container a {
    animation: link-fade-in var(--animation-long-duration) forwards var(--animation-easing);
    animation-delay: var(--delay);
}

.menu-container.opened .lower-content .list-item {
    transform: translateY(0);
}

.menu-container.closed .navigation-link-container a {
    animation: link-fade-out var(--animation-short-duration) forwards var(--animation-easing);
    transform: translateY(0);
}

.menu-container.closed .lower-content .list-item {
    transform: translateY(100%);
    transition-delay: 0s;
}

/* ---------------- MENU BUTTON STYLESHEET ---------------- */

.menu-btn {
    position: fixed;
    left: 50%;
    bottom: clamp(22vh, 20vw, 100vw);
    transform: translateX(-50%);
    padding: 5px;
    height: var(--small-text-size);
    display: flex;
    align-items: center;
    gap: 5px;
    color: #fff;
    background: none;
    cursor: pointer;
    mix-blend-mode: difference;
    overflow: hidden;
    z-index: 11;
    transition:
        transform var(--animation-short-duration) var(--animation-easing),
        bottom var(--animation-long-duration) var(--animation-easing);
}

.menu-btn>.bracket {
    transition: margin var(--animation-short-duration) var(--animation-easing);
}

.menu-btn.opened {
    bottom: clamp(22vh, 15vw, 100vw);
}

.menu-btn:hover .bracket.left-bracket,
.menu-btn.opened .bracket.left-bracket {
    margin-right: 4px;
}

.menu-btn:hover .bracket.right-bracket,
.menu-btn.opened .bracket.right-bracket {
    margin-left: 4px;
}

@media screen and (max-width: 600px) {

    .menu-btn,
    .menu-btn.opened {
        bottom: clamp(13vh, 12vw, 100vw);
    }
}

.text-slider {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: var(--small-text-size);
    line-height: var(--small-text-size);
    transition: transform var(--animation-short-duration) var(--animation-easing);
}

.text-slider span {
    transition: transform var(--animation-short-duration) var(--animation-easing);
}

.menu-btn:hover>.text-slider,
.menu-btn.opened>.text-slider {
    transform: translateY(-100%);
}

.menu-btn.opened .text-slider .text-slider span {
    transform: translateY(-100%);
}

@media screen and (max-width: 600px) {
    .menu-container .upper-content .navigation-link-wrapper {
        gap: 3vw;
        flex-direction: column;
        align-items: center;
        --big-text-size: clamp(100px, 8vw, 100vw);
    }

    .menu-container .upper-content .navigation-link-container {
        width: 100%;
    }

    .menu-container.opened .upper-content .navigation-link-container a {
        animation: link-fade-in var(--animation-long-duration) forwards var(--animation-short-duration) var(--animation-easing);
    }

    .menu-container .lower-content {
        padding: 20px;
        flex-direction: column-reverse;
        gap: 10px;
    }

    .menu-container .lower-content .infos-list {
        width: 100%;
        justify-content: space-between;
    }

    .menu-container .lower-content .infos-list {
        gap: 10px;
    }
}

@keyframes link-fade-in {
    100% {
        transform: translateY(0);
    }
}

@keyframes link-fade-out {
    100% {
        transform: translateY(-100%);
    }
}