.navbar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px;
    z-index: 10;

    >.content {
        position: relative;
        display: flex;
        text-align: left;
        align-items: start;
        gap: 50px;

        &:nth-child(1){
            gap: 13vw;
        }

        >.infos {
            display: flex;
            gap: 20px;

            >.infos-list {
                display: flex;
                flex-direction: column;
                gap: 3px;
            }
        }

    }

    @media screen and (max-width: 780px) {
        & {
            > .content:nth-child(1){
                width: 100%;
                justify-content: space-between;
                gap: 0;

                > img{
                    width: 25px;
                }
            }

            > .content:nth-child(2){
                display: none;
            }
        }
    }
}