.error-container {
    background-color: var(--light-background-color);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error-container .content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.error-container .content .error-title {
    font-size: clamp(150px, 30vw, 100vw);
    line-height: 0.8;
}