.home-section {
    position: relative;
    height: 100vh;
    min-height: 500px;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--light-background-color);
    transition: transform var(--animation-long-duration);
    overflow: hidden;

    >.bg-block {
        position: absolute;
        pointer-events: none;

        &.vertical {
            height: 100%;
            width: calc(100vw / 3);
            min-width: 200px;
            border-left: 1px solid #0000001a;
            border-right: 1px solid #0000001a;
        }

        &.horizental {
            height: 30vh;
            width: 100%;
            top: 35%;
            transform: translateY(-50%);
            border-top: 1px solid #0000001a;
            border-bottom: 1px solid #0000001a;
        }
    }

    >.home-content .section-title {
        line-height: 0.7;
    }

    >.home-content .title-slider {
        display: none;
        justify-content: start;
        width: 100%;

        >.slider {
            display: flex;
            width: max-content;
            gap: 20px;
            animation: slide 20s linear infinite;

            >.sliding-title {
                font-size: 430px;
                line-height: 0.7;
            }
        }

    }

    @media screen and (max-width: 600px) {
        >.home-content .section-title {
            display: none;
        }

        >.home-content .title-slider {
            display: flex;
        }
    }
}


@keyframes slide {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}